.container {
    background-color: #231b1b;
    border-radius: 5px;
    margin: 20vh auto;
    padding: 2rem;
    width: 60vw;

    * {
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        text-align: justify;
        line-height: 1.6;
    }
}
