.container {
  background-color: #ff5757;
  border-radius: 5px;
  margin: 2rem 6rem;
  padding: 2rem;

  * {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    text-align: justify;
    line-height: 1.6;
    font-size: 1.2rem;
  }
}
