.container {
  padding: 0;
}

.reversedContainer {
  display: flex;
  flex-direction: column-reverse;
}

.secondaryContainer {
  display: none;
}

.reactIcon {
  padding: 0;
  margin-left: 0.5rem;
}

.content {
  padding: 1.5rem;
  padding-top: 0;
  display: flex;
  width: 100%;
  align-items: center;

  h2 {
    margin-top: 2rem;
    text-align: center;
  }

  a {
    font-size: 10px;
    display: block;
    margin: auto;
  }
}

.companyImage {
  width: 50vw;
  margin: auto;
  display: block;
  border-radius: 50%;
}

@media (min-width: 1080px) {
  .container {
    display: flex;
  }

  .reversedContainer {
    display: flex;
    flex-direction: row;
  }

  .secondaryContainer {
    display: flex;
    justify-content: space-around;
    padding: 0;
    h2 {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  .companyImage {
    width: 22vw;
  }
}
