* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --blue-zodiac: #0C1242;
    --violet-eggplant: #8E1073;
    --shakespeare: #3FAACC;
    --fun-blue: #1C5AB4;
  }

body {
  background-image: linear-gradient(
    to left,
    var(--violet-eggplant),
    var(--blue-zodiac) 
  );
}
