.content {
  padding: 1.5rem;
  width: 100%;
}

.companyImage {
  box-shadow: 1px 1px 15px 1px var(--black-shadow);
  display: block;
  margin: auto;
  width: 100%;
}

@media (min-width: 720px) {
  .container {
    display: flex;
    padding: 0;
  }
}
