.menu {
  background-color: #f6f6f6;
  box-shadow: 1px 1px 10px 1px #0000001f;
  padding: 2rem 6rem;
  position: fixed;
  width: 100%;
  z-index: 1;

  h1 {
    color: var(--tomato);
    font-size: 2rem;
  }

  ul {
    align-items: center;
    display: flex;
    li {
      margin-right: 1rem;

      a.active {
        color: blueviolet;
      }
    }
  }
}
