.footer {
  background-color: #f6f6f6;
  box-shadow: 1px 1px 10px 1px #0000001f;
  padding: 2rem 6rem;
  text-align: center;
  a {
    align-items: center;
    display: inline-flex;
    margin-top: 1rem;
    text-align: center;
  }
  p {
    color: blueviolet;
    font-weight: bold;
    text-align: center;
  }
}

.reactIcon {
  -webkit-animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
